<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Launch Gazebo with the specified world -->
    <include 
        file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find vitarana_drone)/worlds/empty_task_world.world"/>
    </include>

    <!-- Spawn Drone 1 -->
    <group ns="drone1">
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find vitarana_drone)/urdf/vitarana_drone.urdf'" />
        <node name="spawn_drone" pkg="gazebo_ros" type="spawn_model" 
              args="-urdf -param robot_description -model drone1 -x 0 -y 0 -z 0.2" />
    </group>

    <!-- Spawn Drone 2 -->
    <group ns="drone2">
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find vitarana_drone)/urdf/vitarana_drone.urdf'" />
        <node name="spawn_drone" pkg="gazebo_ros" type="spawn_model" 
              args="-urdf -param robot_description -model drone2 -x 2 -y 0 -z 0.2" />
    </group>

    <!-- Spawn Drone 3 -->
    <group ns="drone3">
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find vitarana_drone)/urdf/vitarana_drone.urdf'" />
        <node name="spawn_drone" pkg="gazebo_ros" type="spawn_model" 
              args="-urdf -param robot_description -model drone3 -x -2 -y 0 -z 0.2" />
    </group>

</launch>